.DynamicCountryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: var(--padding-m);

  & > .content {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
      gap: var(--padding-l);
      font: var(--font-l);
      text-align: left;
    }
  }

  & img {
    pointer-events: none;
    max-width: 1000px;
  }
}